.pace .pace-progress {background: #A0CE4E;}
.bigIcon,.socialList li a:hover{color: #08a03f;}
.btn-new,.downloadNumber{background: #21b36b;box-shadow: 0 0 3px black;}
.btn-new:hover,.btn-new:focus{background: rgb(140, 140, 140)}
#share{background-color: #21b36b}
